*{
    margin: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'Helvetica';
  src: url('Tipografías/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Aspectos generales*/
ul , li , a {
    list-style: none;
    text-decoration: none;
    color: black;
}
h1 , h2 , h3 {
    font-family: Helvetica;
}
h4 {
    font-family: Helvetica;
    font-weight: 50;
    letter-spacing: 0.1rem;
}
p , ul > li {
    font-family: "Plus Jakarta Sans", sans-serif;
}

/*Menú*/
#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 0.85rem;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 50;
}
#menu > ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}
#menu > figure > a > img {
    height: 2rem;
}
#menu > figure > a{
    display: block;
}
#menu > ul > li > a {
    font-family: Helvetica;
    font-weight: bold;
}

/*Home*/
/*Cabecera*/
header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
header > video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: scale(1.4);
}
header > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 1;
    background-color: #A02C2B;
    color: white;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
header > div > h1 {
    font-size: 7rem;
    padding-bottom: 2rem;
}
header > div > h4 {
    font-size: 1rem;
}
header > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
}
header > div > div > hr {
    background-color: white;
    height: 1px;
}

/*Raya lateral*/
body > hr {
    border: none;
    background-color: black;
    position: fixed;
    height: 100%;
    margin-left: 2.5rem;
    z-index: -1;
}
/*Sección home 1 y raya separadora*/
section > hr {
    background-color: black;
    height: 1px;
    border: none;
}
#intro > p {
    padding-left: 5rem;
    padding-right: 2rem;
    padding-top: 6rem;
}

/*Galería home*/
#galeriahome {
    padding-top: 6rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
}
#galeriahome > div {
    padding-top: 3rem;
}
#galeriahome > div > h3 {
    padding-top: 0.5rem;
}

/*Sección home 2*/
#home2 > p {
    padding-left: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*Sección Mapa*/
#mapa > div {
    padding-top: 3rem;
}
#mapa > iframe {
    padding-top: 5rem;
}
#mapa > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 2rem;
}
#mapa > div > div {
    gap: 1rem;
}
#mapa > div > div > h3 {
    padding-top: 0.5rem;
}